body{
  background: #a7a5c6;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  width: 80%;
}

.logo{
float: left;
font-family: 'Lobster', cursive;
padding-left: 60px;
color: white;
font-size: 25px;
}

header{
  position: fixed;
  width: 100%;
  top: 0px;
}

ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #0c0a3e;
  box-shadow: 2px 2px 5px black;
}

li{
  float: right;
}

li a{
  text-decoration: none;
  padding: 29px 16px;
  display: block;
  font-size: 20px;
  color: white;
}

li a:hover{
  border-top: 2px solid #eee;
  color: white;
  border-bottom: 2px solid #eee;
}

.active{
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}

article{
  background: #fff;
  width: 100%;
  box-shadow: 2px 2px 5px black;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 125px;
}

.pic{
  border-radius: 100%;
  float: right;
  margin-right: -90px;
  margin-top: 10px;
  margin-left: 0px;
  border: .1em solid #a7a5c6;
}

.about{
  margin-top: 100px;
  margin-bottom: 0px;
  color: black;
  font-size: 30px;
  padding: 30px 10px 40px 80px;
  line-height: 150%;
  font-family: 'Kalam', cursive;
}

.portfolio{
  font-family: 'Kalam', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  padding-left: 250px;
  margin-top: 15px;
}

.contact{
  font-family: 'Kalam', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
}

.form{
  padding-left: 50px;
  padding-bottom: 3px;
}

input[type=text]{
  width: 40%;
  padding: 14px 14px;
  background: none;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

textarea{
  width: 42.5%;
  padding: 14px 14px;
  background: none;
  border-bottom: 1px solid #000;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

button{
  width: 12%;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.fright{
  margin-left: 55px;
  margin-right: 55px;
  line-height: 180%;
}

footer{
  background: #0c0a3e;
  padding: 14px 16px;
  margin-top: 15px;
  margin-left: 125px;
  width: 97.2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

i{
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 11px 11px;
}

small{
  color: white;
}

.ceo{
  text-decoration: none;
  color: white;
}

.tlogo{
  text-decoration: none;
  color: white;
}

div.gallery{
  width: 300px;
  margin-left: 65px;
  }

div.gallery:hover {
    opacity: 0.9;
}

div.gallery img {
    padding-bottom: 40px;
    width: 100%;
    height: auto;
}

.fa:hover {
  background: white;
  color: #0c0a3e;
  transition: .3s;
}